@import "compass/reset";
@import "partials/custom_mixins";
@import "partials/icons";

.banners {
	font-family: Helvetica, Arial, sans-serif;
	position: relative;
	$stage-z-index: 1000;
	$backstage-z-index: $stage-z-index - 10;
	$toolbar-z-index: $stage-z-index + 10;
	height: 556px;
	width: 990px;
	.scroll-container {
		position: relative;
	}
	.stage, .backstage {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.stage {
		z-index: $stage-z-index;
	}
	.backstage {
		z-index: $backstage-z-index;
	}

	.toolbar-base {
		width: 100%;	
		height: 30px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		
	}
	.toolbar-background {
		@extend .toolbar-base;
		@include opacity(0.7);
		z-index: $toolbar-z-index - 1;
		background: #000;
	}
	.toolbar {
		@extend .toolbar-base;
		z-index: $toolbar-z-index;
		color: #eee;
		.subtitle {
			font-size: 14px;
			line-height: 30px;
			padding-left: 10px;
			vertical-align: middle;
			span {
				@include opacity(0.8);
			}
		}
		.controls {
			position: absolute;
			right: 5px;
			top: 5px;
			.control {
				@include cross-browser-inline-block;
				@include hide-text;
				&:hover {
					@include opacity(0.8);
					cursor: pointer;
					cursor: hand;
				}
			}
			.pause {
				@extend .control;
				@include icons-sprite(pause);
				@include icons-sprite-dimensions(pause);
			}
			.play {
				@extend .control;
				@include icons-sprite(play);
				@include icons-sprite-dimensions(play);
			}
			.prev {
				@extend .control;
				@include icons-sprite(prev);
				@include icons-sprite-dimensions(prev);
			}
			.next {
				@extend .control;
				@include icons-sprite(next);
				@include icons-sprite-dimensions(next);
			}
			.hidden {
				display: none !important;
			}
		}
	}


}
