// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

// $blueprint-grid-columns: 35;
// $blueprint-container-size: 930px;
// $blueprint-grid-margin: 0px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
// ((950+10)/35)-10
// $blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint/grid";

// Utilites used include:
// - UL and LI horizontal mixin
@import "compass/utilities";
@import "compass/typography/text/replacement";

// Import layout for sticky-footer
@import "compass/layout.scss";

// CSS3 Border Radius shortcut
@import "compass/css3";

// Sprite generator
@import "compass/utilities/sprites/base";

// Bullet management
@import "compass/typography/lists/bullets";

// CSS3 "Progressive Internet Explorer"
@import "compass/css3/pie";

// ----------------------------- //
/*         Variables             */
// ----------------------------- //

// * Colores
$color-fondo: #f4f4f4;
$highlight: #16C2F4;
$default-link-color: #fff;
$dark-link-color: #3a3a3a;

// * Otros atributos de Fonts
$default-font-size: 16px;

// * Grid
// - Header
$cabezote-logo-cols: 11;
$cabezote-nav-cols: $blueprint-grid-columns - $cabezote-logo-cols;

// - Ultimos Proyectos
$carousel-flecha-cols: 2;
$carousel-contenido-cols: $blueprint-grid-columns - ($carousel-flecha-cols * 2);

// * Dimensiones
$espacio-entre-contenido-y-pie: 0px;

// ----------------------------- //
/*         Funciones             */
// ----------------------------- //

@mixin font-serif {
  font-family: Georgia, Times New Roman, serif;
}

@mixin font-body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: $default-font-size;
  letter-spacing: 0;
}

@mixin text-shadow {
  text-shadow: black 1px 1px 1px;
}

@mixin subdued-link {
  $subdued-link-color: lighten(#323232,0%);
  $selected-subdued-link-color: darken(#323232, 30%);
  a {
    color: $subdued-link-color;
    &:hover {
      color: lighten($subdued-link-color, 30%);
    }
  }
  a.seleccionado {
    // font-weight: bold;
    border-bottom: 1px dotted lighten($subdued-link-color, 10%);
    &:hover {
      color: $subdued-link-color;
    }
  }
}

@import "compass/utilities/color/contrast";
@mixin carosel {
  width: 520px;
  position: relative;
  padding-bottom: 25px;
  padding-top: 15px;
  margin-bottom: 10px;
  background: image-url("facebook/shared/fondo_metal.jpg");
  h2 {
    font-size: 21px;
    text-align: center;
    padding-bottom: 5px;
    color: #343636;
    font-weight: 300;
  }
  #carosel {
    ul li:nth-child(even) {
      margin-left: 15px;
    }
    ul {
      list-style: none;
      width: 520px;
      margin: 0px 45px 0px 55px;
      overflow: hidden;

      li {
        width: 200px;
        height: 154px;
        overflow: hidden;
        float: left;
        margin-top: 15px;
        position: relative;
        a {
          @include font-serif;
          font-weight: 0;
          letter-spacing: 0;
          font-size: 15px;
          line-height: 26px;
          font-style: italic;
          display: block;
          text-decoration: none;
          &:hover {
          }
        }
        .subtitulo {
          display: none;
        }
      }
    }
  }

  .rotacion-thumbnails {
    .page-index {
      display: none;
    }
    .flecha {
      position: absolute;
      z-index: 2000;
      top: 50%;
    }
    .prev {
      left: 7px;
      @include icons-sprite(flecha-left-gris);
      @include icons-sprite-dimensions(flecha-left-gris);
      &:hover {
        @include icons-sprite(flecha-left-gris-hover);
        cursor: pointer;	
      }
    }
    .next {
      right: 7px;
      @include icons-sprite(flecha-right-gris);
      @include icons-sprite-dimensions(flecha-right-gris);
      &:hover {
        @include icons-sprite(flecha-right-gris-hover);
        cursor: pointer;	
      }
    }
    .disabled {
      // display: none;
    }
  }
}

@mixin dark-link {
  a {
    color: $dark-link-color;
    &:hover {
      color: $highlight;
    }
  }
  a.seleccionado {
    color: $highlight;
    &:hover {
      color: $highlight;
    }
  }
}

@mixin horizontal-lists {
  ul {
    @include horizontal-list-container;
    li {
      @include horizontal-list-item;
    }
  }
}

@mixin cross-browser-inline-block {
  display: inline-block; /* For normal, healthy browsers */

  * html & { /* for IE6 */
    display: inline;
  }

  *+html & { /* for IE7 */
    display: inline;
  }
}

@mixin ie67-specific-font-size($ie-font-size) {
  * html & { /* for IE6 */
    font-size: $ie-font-size;
  }

  *+html & { /* for IE7 */
    font-size: $ie-font-size;
  }
}

@mixin ie67-specific-margin($m-top: 0px, $m-right: 0px, $m-bottom: 0px, $m-left: 0px) {
  * html & { /* for IE6 */
    margin: $m-top, $m-right, $m-bottom, $m-left;
  }

  *+html & { /* for IE7 */
    margin: $m-top, $m-right, $m-bottom, $m-left;
  }
}

@mixin font-on-dark-background {
  @include text-shadow;
  font-size: 14px;
  color: white;
}

@mixin buton-simple {
  @include iconos-sprite(btn-simple);
  @include iconos-sprite-dimensions(btn-simple);
  @include text-shadow;
  display: inline-block;
  line-height: 16px;
  font-size: 17px;
  color: white;
  border: 0;
  &:hover {
    @include iconos-sprite(btn-simple-hover);
  }
}

@mixin rounded-corners($radius: 5px, $side: "") {
  @if $side == "bottom" {
    @include border-bottom-radius($radius);
  } @else if $side == "top" {
    @include border-top-radius($radius);
  } @else {
    @include border-radius($radius);
  }
}

@mixin small-and-compact {
  letter-spacing: -1;
  font-size: 15px;
  line-height: 18px;
  @include ie67-specific-font-size(14px);
}
