html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*         Variables             */
/*         Funciones             */
.icons-sprite, .carousel .toolbar .controls .pause, .carousel .toolbar .controls .play, .carousel .toolbar .controls .prev, .carousel .toolbar .controls .next {
  background: url('../images/icons-s4f45944365.png') no-repeat;
}

/* import icons */
/* import icons */
.carousel {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  height: 556px;
  width: 990px;
}
.carousel .scroll-container {
  position: relative;
}
.carousel .stage, .carousel .backstage {
  position: absolute;
  top: 0px;
  left: 0px;
}
.carousel .stage {
  z-index: 1000;
}
.carousel .backstage {
  z-index: 990;
}
.carousel .toolbar-base, .carousel .toolbar-background, .carousel .toolbar {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.carousel .toolbar-background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  z-index: 1009;
  background: #000;
}
.carousel .toolbar {
  z-index: 1010;
  color: #eee;
}
.carousel .toolbar .subtitle {
  font-size: 14px;
  line-height: 30px;
  padding-left: 10px;
  vertical-align: middle;
}
.carousel .toolbar .subtitle span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.carousel .toolbar .controls {
  position: absolute;
  right: 5px;
  top: 5px;
}
.carousel .toolbar .controls .control, .carousel .toolbar .controls .pause, .carousel .toolbar .controls .play, .carousel .toolbar .controls .prev, .carousel .toolbar .controls .next {
  display: inline-block;
  /* For normal, healthy browsers */
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
}
* html .carousel .toolbar .controls .control, * html .carousel .toolbar .controls .pause, * html .carousel .toolbar .controls .play, * html .carousel .toolbar .controls .prev, * html .carousel .toolbar .controls .next {
  /* for IE6 */
  display: inline;
}
* + html .carousel .toolbar .controls .control, * + html .carousel .toolbar .controls .pause, * + html .carousel .toolbar .controls .play, * + html .carousel .toolbar .controls .prev, * + html .carousel .toolbar .controls .next {
  /* for IE7 */
  display: inline;
}
.carousel .toolbar .controls .control:hover, .carousel .toolbar .controls .pause:hover, .carousel .toolbar .controls .play:hover, .carousel .toolbar .controls .prev:hover, .carousel .toolbar .controls .next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  cursor: pointer;
  cursor: hand;
}
.carousel .toolbar .controls .pause {
  background-position: 0 -21px;
  height: 21px;
  width: 27px;
}
.carousel .toolbar .controls .play {
  background-position: 0 -42px;
  height: 21px;
  width: 27px;
}
.carousel .toolbar .controls .prev {
  background-position: 0 -63px;
  height: 21px;
  width: 27px;
}
.carousel .toolbar .controls .next {
  background-position: 0 0;
  height: 21px;
  width: 27px;
}
.carousel .toolbar .controls .hidden {
  display: none !important;
}
